.home {
    margin-top: 50px;
}

.AboutMe {
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: center;
}
div.container6 p {
    margin: 0;
}

.Future_products {
    margin-top: 50px;
}

.Future_products_blok > h3 {
    text-align: center;
}

.Future_products_blok {
    padding: 20px;
}
.Future_products_list {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Future_products_Underblok {
    display: flex;
    flex: 0 100%;
    position: relative;
    flex-direction: column;
    margin-bottom: 25px;
    padding-bottom: 25px;
    margin-right: 10px;
}

.post_content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 25px;
    margin-bottom: 25px;
}
.title {
    display: block;
    width: 330px;
    height: 60px;
    margin: 0 auto;
    overflow: hidden;
}

.post_content > img {
    width: 225px;
    height: auto;
    object-fit: cover;
}
.Future_info {
    width: 100%;
    position: relative;
    align-items: center;
    display: inline-flex;
    margin: 15px 0 20px 0;
    flex-wrap: wrap;
}

.blog__article__divider {
    background: black;
    margin: 0 15px;
    height: 80%;
    width: 1px;
}
.title_future_works {
    padding: 0;
    position: relative;
    line-height: 1.875rem;
}
.info_future_works {
    width: 100%;
    position: relative;
    align-items: center;
    display: inline-flex;
    margin: 15px 0 20px 0;
}
.recent_post_text_part {
    font-size: 1rem;
    line-height: 23px;
    position: relative;
}

.recent_post_info {
    padding: 0;
    font-size: 20px;
    line-height: normal;
}
.recent_post_text {
    font-size: 14px;
    padding: 5px 0 10px 0;
}

.home__header {
    display: flex;
    flex-direction: column;
}
.home__left {
    order: 2;
}
.home__right {
    order: 1;
    margin-bottom: 20px;
}
.home__right img {
}
.home__left > .btn {
    margin-top: 20px;
}

@media (min-width: 768px) {
    .home__header {
        align-items: center;
        flex-direction: row;
    }
    .home__left {
        order: 1;
        padding-right: 120px;
    }
    .home__right {
        order: 2;
        margin-bottom: 0px;
    }
    .home__right img {
        height: auto;
        max-width: 360px;
    }
    .home__left > .btn {
        margin-top: 40px;
    }

    .AboutMe {
        height: 10em;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    div.container6 p {
        margin: 0;
    }
    .Future_products_blok {
        padding: 20px;
    }
    .Future_products_list {
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .Future_products_Underblok {
        display: flex;
        flex: 0 100%;
        position: relative;
        flex-direction: column;
        margin-bottom: 25px;
        padding-bottom: 25px;
    }

    .post_content {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-bottom: 25px;
        margin-bottom: 25px;
    }
    .title {
        display: block;
        width: 330px;
        height: 60px;
        margin: 0 auto;
        overflow: hidden;
    }

    .post_content > img {
        width: 225px;
        height: auto;
        object-fit: cover;
    }
    .info_future_works > img {
        width: 100%;
        height: auto;

        object-fit: cover;
    }

    .slesh {
        background: #000000;
        margin: 0 15px;
        height: 80%;
        width: 1px;
    }
    .title_future_works {
        padding: 0;
        position: relative;
        line-height: 1.875rem;
    }
    .info_future_works {
        width: 100%;
        position: relative;
        align-items: center;
        display: inline-flex;
        margin: 15px 0 20px 0;
    }

    .recent_post_info {
        padding: 0;
        font-size: 20px;
        line-height: normal;
    }
    .recent_post_text {
        font-size: 14px;
        padding: 5px 0 10px 0;
    }
}
