.post_content-detail {
    display: block;
    margin-block-end: 2em;
}

.wrapper-image {
    margin-block-start: 1em;
    margin-block-end: 1em;
}

/* xs */
@media (min-width: 375px) {
}
/* sm */
@media (min-width: 576px) {
}
/* md */
@media (min-width: 768px) {
}
/* lg */
@media (min-width: 992px) {
    .post_content-detail {
        display: flex;
    }
    .more-description {
        text-align: center;
    }
    .product-detail__description {
        padding-left: 30px;
    }
}
/* xl */
@media (min-width: 1170px) {
}
